
*{
    margin: 0;
    padding: 0;
    font-family: 'poppins',sans-serif;
    box-sizing: border-box;
}
.buttons{
    margin: 50px;
    border-radius: 20px;
}
.buttons button{
    background: #333;
    color: #fff;
    border: 0;
    outline: 0;
    width: 120px;
    height: 40px;
    margin: 5px;
    cursor: pointer;
    border-radius: 4px;

}
#snackbar{
    position: absolute;
    bottom:30px ;
    right: 30px;
    display: flex;
    align-items: flex-end;
    flex-direction: column;
    overflow: hidden;
    padding: 2px;
}
.snack{
    width: 400px;
    height: 80px;
    background: #fff;
    font-weight: 500;
    margin: 16px 0;
    box-shadow: 0 0 20px rgba(0 , 0 , 0, 0.3);
    display: flex;
    align-items: center;
    position: relative;
}
.snack i{
    margin: 0 20px;
    font-size: 24px;
    color: green;
}
.snack.error i{
    color: red;

}
.snack.invalid i{
    color: orange;
}
.snack::after{
    content: '';
    position: absolute;
    bottom:0 ;
    left:0 ;
    width: 100%;
    height: 5px;
    background: green;
    animation: anim2 5s linear forwards;
}
@keyframes anim {
    100%{
        width: 0;
    }
}
.snack.error::after{
    content: '';
    position: absolute;
    bottom:0 ;
    left:0 ;
    width: 100%;
    height: 5px;
    background: red;
    animation: anim2 5s linear forwards;

}
@keyframes anim2 {
    100%{
        width: 0;
    }
}
.snack.invalid::after{
    content: '';
    position: absolute;
    bottom:0 ;
    left:0 ;
    width: 100%;
    height: 5px;
    background: orange;
    animation: anim3 5s linear forwards;
}
@keyframes anim3 {
    100%{
        width: 0;
    }
}